body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.freeParking{
    width: 150px;
    padding-left: 10px;
}

.notFreeParking {
    border: 1px dotted #ffffff;
    width: 120px;
    background-color: #000000;
    color: #ffffff;
    padding-left: 10px;
}

.regNr {
    margin-left: 10px;
    font-size: 12px;
}
.regNr a {
    color: #ffffff;
    text-decoration: none;
}

.regNr a:hover{
    color: #8a8686;
    font-size: 14px;
    border: 1px solid black;
}