@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>Garage 2.5</h1>
    <p class="lead">Garage is a free web application for Managing Garage.</p>
    <div>
        <h3>Parking Status:</h3><div>
            @if (ViewBag.parkingStatus == "Full")
            {
                <p class="fullStatus"> Full</p>
            }
            else
            {
                <p class="status"> @ViewBag.parkingStatus </p>
            }
        </div>
    </div>

    @using (Html.BeginForm("", "Vehicles/Index", "Vehicles"))
    {
        <div>
            <div>
                <a href="~/Vehicles/Create" class="btn btn-primary btn-lg">Check-In&raquo;</a>
                <a href="~/Vehicles/" class="btn btn-primary btn-lg">Check-Out&raquo;</a>

                
            </div>
        </div>
        <input type="search" class="form-control text-box single-line" placeholder="Regnr, Fabricate, Model, ParkingLot" name="searchTerm" />
        <input type="submit" class="btn btn-default" value="Search"  />
    }
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tortor tortor, bibendum id dignissim sit amet, tincidunt nec velit. Vivamus ultrices iaculis mi, vitae rutrum mi pretium at. Mauris scelerisque ipsum in lorem consectetur, et fringilla dui iaculis. Vivamus eget libero eu augue lacinia malesuada.
        </p>
        <p>@Html.ActionLink("Learn more", "About", "Home")</p>
    </div>
    <div class="col-md-4">
        <h2>Get more information</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tortor tortor, bibendum id dignissim sit amet, tincidunt nec velit. Vivamus ultrices iaculis mi, vitae rutrum mi pretium at. Mauris scelerisque ipsum in lorem consectetur, et fringilla dui iaculis. Vivamus eget libero eu augue lacinia malesuada.
</p>
        <p>@Html.ActionLink("Learn more", "Contact", "Home")</p>
    </div>
    <div class="col-md-4">
        <h2>More about Garage</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tortor tortor, bibendum id dignissim sit amet, tincidunt nec velit. Vivamus ultrices iaculis mi, vitae rutrum mi pretium at. Mauris scelerisque ipsum in lorem consectetur, et fringilla dui iaculis. Vivamus eget libero eu augue lacinia malesuada.
</p>
        <p>@Html.ActionLink("Learn more", "Index", "Vehicles")</p>
    </div>
</div>